@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

html {
    scroll-behavior: smooth;
    }

body {
    margin: 0 auto;
    background-color: #1C1C1E;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

img#logo {
    width: 100%;
    max-width: 150px;
    height: auto; 
}

section#TOP {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #6F3A80;
    padding: 10px 20px;
    box-shadow: 0px 10px 27px #4C1A57, -13px -13px 27px #4C1A57;
    z-index: 2;
    justify-content: center;
}

div#header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    font-family: "Roboto Mono", serif;
}

div#header3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    font-family: "Roboto Mono", serif;
}

#header2 a {
    font-size: 2rem;
    transition: 0.4s;
}

#header2 a:link,
#header2 a:visited {
    color: #ffffff;
    text-decoration: none;
}

#header2 a:hover {
    color: #4C1A57;
}

.menu-divider {
    width: 3px;
    height: 40px;
    background-color: #4C1A57;
    border: none;
}

.menu-divider2 {
    opacity: 0;
}

.boop:hover {
    transform: scale(1.1);
}

section#SOBRE {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px;
    background-color: #1C1C1E;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

img#BLEH {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px; 
}

.text-container {
    width: 55%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1#hum {
    font-size: 145px;
    color: #4C1A57;
    text-align: left;
}

h1#htres {
    font-size: 25px;
    color: #A23E8C;
    margin: 10px 0;
    text-align: left;
}

.span {
    color: #6F3A80;
}

p#A {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
}

section#PORT {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px;
    background-color: #4C1A57;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1#humM {
    font-size: 145px;
    color: #B86FC8;
    text-align: left;
}

.text-container2 {
    width: 55%; 
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img#PC {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-left: 20px; 
}

section#PROJ {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #1C1C1E;
    border-radius: 30px;
    margin-top: 80px;
}

.image-container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-item {
    text-align: center;
    max-width: 500px;
}

img#logoSS {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 2px #B86FC8, 0 0 12px #B86FC8, 0 0 22px #B86FC8;
}

.image-item p {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

h1#humC {
    font-size: 145px;
    color: #4C1A57;
    text-align: center;
}

p#B {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 100px;
}

.BOTAO {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 40px;
    text-decoration: none;
    color: #fff;
    background-color: #B86FC8;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.5s;
}

.BOTAO:hover {
    background-color: #683e72;
    transform: translateY(-5px);
}

section#CONT {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #4C1A57, #B86FC8);    
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

img#GITICON {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.social-links {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: left;
    margin-top: 10px;
}

.social-links a {
    font-size: 7rem;
    color: #a36bc4;
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
    color: #6F3A80; 
    transform: scale(1.2);
}

p#C {
    color: #ffffff;
    font-size: 25px;
    line-height: 1.5;
    text-align: left;
}

footer {
    background-color: #6F3A80;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

footer img {
    margin: -90px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}